<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://daysunto.com/</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>petunia.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>daysunto.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>daysunto.com_dploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=petunia.arvixe.com;Initial Catalog=daysunto;User ID=atombase;Password=daysunto12345$$" Name="server=petunia.arvixe.com;database=daysunto;uid=atombase;pwd=daysunto12345$$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DaysUntoWeb.Infrastructure.Data.DaysUntoContext, DaysUntoWeb" MigrationConfiguration="DaysUntoWeb.Migrations.Configuration, DaysUntoWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>server=petunia.arvixe.com;database=daysunto;uid=atombase;pwd=daysunto12345$$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>