<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB". -->

  <connectionStrings>
    <add xdt:Locator="Condition([@name='DefaultConnection'])" providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" />
  </connectionStrings>  
  
    <!--<connectionStrings>
      <add name="DefaultConnection" 
        connectionString="Server=ef9ca139-9a57-4b18-82cf-a17f0019239a.sqlserver.sequelizer.com;Database=dbef9ca1399a574b1882cfa17f0019239a;User ID=yipoqdcycqojwlki;Password=3ZASkwKAGimAB7tGb2zKaP7v8CJY5xz3gReKi6hJQjaD4LDht8wacVun2eSPVTDi;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>-->
 
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>