@using DaysUntoWeb.Helpers
@model DaysUntoWeb.Models.HomeViewModel
<div class="row">
    <div id="column-1" class="span6">
        <div class="row">
            <div id="infoyou" class="span6">
                <div class="breadcrumb">
                    <div class="well-small">
                        <i class="icon-calendar icon-4x pull-left icon-border"></i>
                        <h1>How Many Days Til</h1>
                        A countdown for your important events!
                        <br />
                        <br />
                        @if (Request.IsAuthenticated)
                        {
                            @Html.Partial("_AddEvent")
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Partial("_Holidays", Model)
        </div>
    </div>
    <div id="column-2" class="span6">
        @Html.Partial("_Events", Model)
    </div>
</div>
